<div class="static_page">
  <div class="container about">
    <h1 class="page_title">
      <span class="icon_tech_info"></span>
      Technophile Infotech
    </h1>
    <h3>your one stop destination for all <span class="bold">IT solutions</span></h3>

    <h2 class="title">About</h2>
    <p>
      Technophile Infotech is a recent venture by a team of spirited and vibrant tech enthusiasts. We aim to provide holistic technical expertise to clientele, at a reasonable price.


    </p>
  </div>

  <%= render partial: 'share/footer' %>
</div>
