.filter-form-container {
  background-color: #F0F0F0;
  padding: 10px;
  width: auto;
  border-radius: 5px;
}

.filter-form-field {
  display: inline-block;
  margin-bottom: 10px;
}

.filter-form-field:last-child {
  display: block;
  margin: 0px;
}

.filter-form-label {
  font-size: 14px;
  font-weight: lighter;
}

.filter-form-btn {
  font-size: 16px;
  font-family: Tahoma;
} 

.select2-container {
  width: 150px;
}

.trip-filter-form-field {
  display: inline-block;
}